<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
.heading h1 {
	font-size: 50px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
}

.paragraph {
	font-family: 'PT Sans', sans-serif;	
}
.paragraphTwo p {
	font-family: 'Oswald', sans-serif;
}